:root{
    --primary-color: #111111ff;
}

html{
    background-color: var(--primary-color);
    font-size: 40px;
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.main-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.playButtonDiv{
    display: grid;
    width: 50%;
    min-width: 12.75rem;
}

.backgroundStaffLines{
    width: 100%;
}

.centerImageWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
}

.startGameBtnWrapper{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.flyingNotesImg{
    width: 25%;
    min-width: 5rem;
}

.logoImg{
    width: 40%;
    min-width: 10.625rem;
}

@keyframes growButton{
    from {width: 3.5rem; height: 3.5rem; background-size: 3.5rem;}
    to {width: 4rem; height: 4rem; background-size: 4rem;}
}

input[type="range"] {
    accent-color: white;
}

.startGameBtn{
    background-image: url("/img/startPlayButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size:3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
}

.startGameBtn:hover{
    width: 4rem;
    height: 4rem;
    background-size: 4rem;
    animation-name: growButton;
    animation-duration: 0.5s;
    cursor: pointer;
}

.pianoDiv{
    display: grid;
    width: 100%;
    height: 8rem;
}

.whiteKeysDiv{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.whiteKey{
    z-index: 1;
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
    margin-left: 0.1rem;
}

.whiteKey:hover{
    cursor: pointer;
}

.blackKeysDiv{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
}

.blackKey{
    z-index: 2;
    height: 100%;
    width: 10%;
    border: none;
    background-color: black;
    padding: 0;
}

.blackKey:hover{
    cursor: pointer;
}

.blackKey.mid{
    margin-left: 4.2857142857%;
    margin-right: 14.2857142857%;
}

.blackKey.left{
    margin-left: 4.2857142857%;
}

.blackKey.leftmost{
    margin-left: 9.2857142857%;
}

.whiteKey.left{
    margin-left: 0;
}
